@import "../scss/mixins";
@import "../scss/variables";

.content {
	box-sizing: border-box;
	padding: 3rem 1rem 10rem;
	max-width: $content-width;
	margin: 0rem auto;
	min-height: 41rem;
	position: relative;
	@include breakMd {
		padding-top: 2rem;
	}
	@include breakXs {
		min-height: 2.5rem;
	}
}
