@import "../scss/variables";

.meal-info-popup-wrapper {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 100%;
	padding: 0rem 1rem;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.6);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 10;
	.prev,
	.next {
		color: white;
		font-size: 3rem;
		left: 0;
		padding: 1rem;
		cursor: pointer;
		&:hover {
			color: $primary-color;
		}
	}
	.meal-info-popup {
		display: flex;
		flex-direction: column;
		max-width: 800px;
		width: 100%;
		height: 800px;
		max-height: 90%;
		box-shadow: 0px 0px 10px #333;
		box-sizing: border-box;
		overflow: hidden;
		background: white;

		p,
		td {
			margin: 0;
			font-size: 0.8rem;
			line-height: 1.6em;
		}
		h2 {
			font-weight: 700;
			color: $primary-color;
			text-transform: uppercase;
		}
		h3,
		th {
			font-size: 1rem;
			margin-bottom: 0.5rem;
			color: $primary-color;
			text-transform: uppercase;
			letter-spacing: 2px;
			text-align: left;
		}
		.header {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding-left: 1rem;
			position: relative;
			top: 0;
			flex-shrink: 0;
			h2 {
				text-align: left;
			}
			.close {
				align-self: flex-start;
				padding: 0.8rem;
				font-size: 3rem;
				line-height: 0.5em;
				color: $secondary-color;
				cursor: pointer;
				&:hover {
					color: $error-primary;
				}
			}
		}
		.image {
			width: 100%;
			max-height: 250px;
			object-fit: cover;
		}
		.body {
			overflow-y: auto;
			flex-shrink: 1;
			flex-grow: 1;
			display: grid;
			padding: 2rem 2rem 0;
			grid-template-columns: 1fr 1fr;
			grid-gap: 1.5rem 3rem;
			grid-template-areas: "title title" "ingred nutrition" "allergens icons";

			.title {
				grid-area: title;
				text-align: left;
			}
			// .description {
			// 	grid-area: desc;
			// }
			.ingredients {
				grid-area: ingred;
			}
			.allergens {
				grid-area: allergens;
			}
			.nutrition {
				grid-area: nutrition;
				table {
					width: 100%;
					th {
						padding-bottom: 0.5rem;
					}
					td:last-child {
						text-align: right;
					}
				}
			}
			.icons {
				grid-area: icons;
				margin-bottom: 2rem;
			}
			// .price {
			// 	padding-bottom: 2rem;
			// 	text-align: center;
			// }
		}
		// .price {
		// 	grid-area: price;
		// 	font-size: 1.5rem;
		// 	font-weight: bold;
		// }
		.footer {
			position: relative;
			bottom: 0;
			height: 50px;
			flex-shrink: 0;
			border-top: 1px solid lighten($secondary-color, 10);
			.button {
				background-color: $primary-color;
				color: white;
				max-width: 100%;
				height: 100%;
			}
		}
	}
}
