@import "../scss/variables";
.available-meals {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-content: start;
	grid-template-areas: "header header header";
	grid-gap: 1rem;
	padding-right: 5px;
	grid-area: Meals;
	.header {
		grid-area: header;
		box-sizing: border-box;
		position: sticky;
		top: $prog-bar-height + 1rem;
		background-color: white;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 0 1rem 0;
		border-bottom: 1px solid black;
		h3 {
			line-height: 1.5em;
		}
		form {
			display: flex;
			justify-content: space-between;
			.din-radio-button {
				&:first-child {
					margin-right: 1em;
				}
				.button-small {
					padding: 0.2em;
					height: auto;
					font-weight: 500;
					font-size: 0.9rem;
					width: 150px;
					border-width: 2px;
				}
			}
		}
	}
	input[type="checkbox"] {
		display: none;
	}
	label {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 2rem;
		cursor: pointer;
		.checkbox {
			margin: 0 1em 0 0;
			border: 5px solid $secondary-color;
			background-color: white;
			width: 20px;
			height: 20px;
		}
		.checkbox-label {
			color: $secondary-color;
		}
		&:hover,
		&.checked {
			.checkbox {
				background: $primary-color;
				color: $primary-color;
			}
			.checkbox-label {
				color: $primary-color;
			}
		}
	}
}
