@import "../scss/variables";
@import "../scss/mixins";
.progress-bar-wrapper {
	width: 100%;
	height: 100%;
	z-index: 10;
	background: white;
	overflow: hidden;
	cursor: grab;
}
.progress-bar {
	width: 100%;
	height: 100%;
	font-size: 0.7rem;
	box-sizing: border-box;
	color: $secondary-color;
	letter-spacing: 2px;
	min-height: $prog-bar-height;
	display: flex;
	justify-content: center;
	padding: 0 1.2em;
	overflow-x: scroll;
	overflow: -moz-scrollbars-none;
	-ms-overflow-style: none;
	&::-webkit-scrollbar {
		display: none !important;
	}
	// @include breakXs {
	// 	font-size: 0.6rem;
	// }
	* {
		outline: none !important;
	}
	.flickity-slider {
		width: 210px;
	}
	.steps {
		height: 100%;
		padding: 0;
		display: flex;
		justify-content: center;
		list-style-position: inside;
		min-width: 920px;
		padding-bottom: 3px;
		// @include breakMd {
		// 	width: 45rem;
		// }
		// @include breakSm {
		// 	display: grid;
		// 	grid-template-columns: 1fr 1fr 1fr;
		// 	max-width: 22rem;
		// 	width: 100%;
		// }
	}
	.step {
		padding: 1em;
		background-color: #f6f6f6;
		margin: 0 0.2rem;
		box-shadow: -1px 1px 3px #ddd;
		width: 200px;
		box-sizing: border-box;
		text-align: center;
		// @include breakMd {
		// 	display: flex;
		// 	align-items: center;
		// }
		// @include breakSm {
		// 	&:last-child {
		// 		max-width: 30px;
		// 	}
		// }
		&.complete {
			color: $tertiary-color;
			&:hover {
				cursor: pointer;
			}
		}
		&.current {
			color: $primary-color;
		}
		// &:after {
		// 	content: "►";
		// 	font-size: 0.8em;
		// 	margin-left: 1rem;
		// 	margin-right: 1rem;
		// 	@include breakMd {
		// 		margin-right: 1.8rem;
		// 	}
		// 	@include breakSm {
		// 		margin-right: 1.5rem;
		// 	}
		// }
		&:last-child:after {
			display: none;
		}
	}
}
