@import "../scss/variables";
@import "../scss/mixins";
.progress-bar-wrapper {
	z-index: 10;
	background: white;
}
.progress-bar {
	font-size: 0.7rem;
	box-sizing: border-box;
	border-top: 1px solid $tertiary-color;
	border-bottom: 1px solid $tertiary-color;
	color: $secondary-color;
	letter-spacing: 2px;
	min-height: $prog-bar-height;
	display: flex;
	padding: 0 1rem;
	.steps {
		height: 100%;
		padding: 0;
		margin: auto;
		display: flex;
		justify-content: center;
		list-style-position: inside;
		width: 100%;
		@include breakMd {
			width: 45rem;
		}
		@include breakSm {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			width: 24rem;
		}
	}
	.step {
		padding: 0.7rem 0;
		@include breakMd {
			display: flex;
			align-items: center;
		}
		@include breakSm {
			&:last-child {
				max-width: 30px;
			}
			// display: flex;
			// align-items: center;
		}
		&.complete {
			color: $tertiary-color;
			&:hover {
				cursor: pointer;
			}
		}
		&.current {
			color: $primary-color;
		}
		&:after {
			content: "►";
			font-size: 0.8em;
			margin-left: 1rem;
			margin-right: 1rem;
			@include breakMd {
				margin-right: 1.8rem;
			}
			@include breakSm {
				margin-right: 1.5rem;
			}
		}
		&:last-child:after {
			display: none;
		}
	}
}
