@import "../scss/variables";
@import "../scss/mixins";

.your-desserts {
	display: grid;
	grid-template-columns: 1fr;
	//grid-template-rows: 42px auto;
	align-content: start;
	grid-gap: 0rem;
	overflow-x: hidden;
	overflow-y: show;
	position: sticky;
	top: 0;
	grid-area: yourmeals;
	max-height: 528px;
	grid-template-areas: "header";
	z-index: 999;
	background: white;
	@include breakMd {
		max-height: 3.55rem;
		overflow: hidden;
		position: sticky;
		top: 0;
		// grid-template-columns: 1fr 1fr;
		// grid-template-areas: "header header";
		&.expanded {
			max-height: 412px;
			border-bottom: 1px solid black;
			height: 100%;
			overflow-y: auto;
		}
	}
	> .header {
		grid-area: header;
		padding: 1rem 0 1rem 0;
		border-bottom: 1px solid black;
		position: sticky;
		top: 0;
		background-color: white;
		align-items: center;
		justify-content: space-between;
		display: flex;
		height: 2.5rem;
		z-index: 10;
		@include breakMd {
			padding: 0.5rem 0;
		}
		h3 {
			line-height: 1.5em;
		}
	}
	> .footer {
		position: sticky;
		bottom: 0;
		background: white;
		margin-top: auto;
		button {
			@include breakMd {
				display: none;
			}
		}
		.subtotal {
			border-top: 1px solid black;
			font-size: 1.2rem;
			font-weight: bold;
			display: flex;
			justify-content: space-between;
			padding: 1rem 0;
		}
	}
	.selected-dessert {
		display: flex;
		justify-content: space-between;
		padding: 0.2rem 0;
		border-bottom: 1px solid lighten($secondary-color, 10);
		align-items: center;
		font-size: 0.9rem;
		.title {
			display: flex;
			align-items: center;
		}
		.remove {
			color: $secondary-color;
			padding-right: 0.5em;
			padding-left: 0.5em;
			font-size: 1.8rem;
			border-radius: 1000px;
			cursor: pointer;
			&:hover {
				color: darken($error-primary, 5);
			}
		}
	}
}
