@import "../scss/variables";

.your-meals {
	display: grid;
	grid-template-columns: 1fr;
	//grid-template-rows: 42px auto;
	align-content: start;
	grid-gap: 1rem;
	overflow-x: hidden;
	overflow-y: show;
	padding-right: 5px;
	position: sticky;
	top: $prog-bar-height - 1;
	grid-area: yourmeals;
	max-height: 556px;
	> .header {
		box-sizing: border-box;
		padding: 1rem 0rem;
		border-bottom: 1px solid black;
		position: sticky;
		top: 0;
		background-color: white;
		align-items: center;
		display: flex;
		h3 {
			line-height: 1.5em;
		}
	}
	> .footer {
		position: sticky;
		bottom: 0;
	}
}
