@import "/scss/classes";
@import "/scss/variables";
@import "/scss/mixins";

html {
	display: inline-block;
	@include breakXs {
		font-size: 0.8rem;
	}
}
body {
	overflow-x: hidden;
	margin: 0;
}
main {
	position: relative;
	min-height: 100vh;
}
* {
	font-family: "Fira Sans", sans-serif;
}
h2 {
	text-align: center;
	color: black;
	font-size: 2rem;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 500;
	letter-spacing: 1px;
	@include breakMd {
		font-size: 1.7rem;
	}
	&.mb-0 {
		margin-bottom: 0;
	}
}
h3 {
	margin: 0;
	letter-spacing: 1px;
	font-size: 1.2rem;
	@include breakSm {
		font-size: 0.9rem;
	}
}
.button {
	border: $border-width solid $primary-color;
	background: white;
	font-size: 1.2rem;
	color: $primary-color;
	font-weight: 900;
	padding: 0.5em;
	width: 100%;
	max-width: 300px;
	cursor: pointer;
	letter-spacing: 1px;
	&:hover {
		background: $primary-color;
		color: white;
	}
}
