@import "/scss/classes";
@import "/scss/variables";

body {
	overflow-x: hidden;
	margin: 0;
}
* {
	font-family: "Fira Sans", sans-serif;
}
h2 {
	text-align: center;
	color: black;
	font-size: 2rem;
	margin-top: 0;
	margin-bottom: 3rem;
	font-weight: 500;
	letter-spacing: 1px;
	&.mb-0 {
		margin-bottom: 0;
	}
}
h3 {
	margin: 0;
	letter-spacing: 1px;
	font-size: 1rem;
}
.button {
	border: $border-width solid $primary-color;
	background: white;
	font-size: 1.4rem;
	color: $primary-color;
	font-weight: bold;
	padding: 0.5em;
	width: 100%;
	max-width: 300px;
	cursor: pointer;
	&:hover {
		background: $primary-color;
		color: white;
	}
}
.error-message {
	text-align: center;
	padding: 0.5em;
	font-size: 1.4rem;
	border: $border-width solid darken(#d8000c, 5);
	font-weight: bold;
	color: darken(#d8000c, 5);
	background-color: lighten(#ffbaba, 10);
	width: 500px;
	margin: 1rem auto;
}
.continue-message {
	text-align: center;
	width: 500px;
	margin: 1rem auto;
}
