@import "variables";
@import "mixins";
.uppercase {
	text-transform: uppercase;
}
.primary-color {
	color: $primary-color;
}
.mb-0 {
	margin-bottom: 0;
}
.bold {
	font-weight: 900;
}
.hide-lg {
	display: none;
	@include breakMd {
		display: block;
	}
}
.pointer {
	cursor: pointer;
}
