$primary-color: #00a651;
$secondary-color: #ccc;
$tertiary-color: goldenrod;

$error-primary: #d8000c;
$error-secondary: #ffbaba;

// Border width of large buttons
$border-width: 5px;

// Size of checkboxes for Nights & People
$checkbox-size: 1.5em;

// Height of meal images
$meal-image-height: 8rem;

$prog-bar-height: 2.5rem;
