$primary-color: #00a651;
$secondary-color: #ccc;
$tertiary-color: goldenrod;

// Border width of large buttons
$border-width: 5px;

// Size of checkboxes for Nights & People
$checkbox-size: 1.5em;

// Height of meal images
$meal-image-height: 9rem;
