$primary-color: #00a651;
$secondary-color: #ccc;
$tertiary-color: goldenrod;
$border-width: 5px;
$checkbox-size: 1.6em;

// Number of nights / people values. Used to calculate width of radio button containers.
$num-nights: 3;
$num-people: 6;
